<% layout('/layouts/boilerplate') -%>

  <body>
    <h4>✨ Namaste...</h4>
    <p><b><i>Each creation reflects love, culture & blessings — JP Handicrafts 🧵🎨</i></b></p>
    <hr>

    <div class="index-listing-wrapper">

      <% for (let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link indexCardSetting">
          <div class="card ">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem" />
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b>
                <br />
                <b> &#8377;</b>
                <%= listing.price.toLocaleString('en-IN')%> / Pic <br>
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>
  </body>