<% layout('/layouts/boilerplate') -%>

  <body>


    <div class="row">
      <div class="col-8 offset-2">

        <h3 class="mt-2 mt-md-1  ">Add a New Listing on Sphere</h3>

        <form class="needs-validation" action="/listings" method="POST" novalidate enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input required id="title" name="listing[title]" type="text" class="form-control" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill it in.</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea required id="description" class="form-control" name="listing[description]"></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill it in.</div>
          </div>


          <div class="mb-3">
            <label for=" image" class="form-label">Image</label>
            <input id="image" name="listing[image]" type="file" class="form-control" required />
          </div>

          <div class="row ">
            <div class="mb-3 col-md-4 ">
              <label for="price" class="form-label">Price</label>
              <input type="number" required id="price" class="form-control" name="listing[price]" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please fill it in.</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input required id="country" class="form-control" name="listing[country]" type="text" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please fill it in.</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required id="location" class="form-control" name="listing[location]" type="text" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill it in.</div>
          </div>

          <button class="btn add-btn btn-dark mt-2 mb-5 mt-md-0 mb-md-0"> Add</button>

        </form>
      </div>
    </div>
  </body>