<% layout('/layouts/boilerplate') -%>

  <body>


    <div class="row">
      <div class="col-8 offset-2">

        <h3 class="mt-2 mt-md-1  ">Create new form</h3>

        <form action="/listings" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" name="listing[title]" type="text" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" class="form-control" name="listing[description]"></textarea>
          </div>


          <div class="mb-3">
            <label for=" image" class="form-label">Image</label>
            <input id="image" name="listing[image]" type="text" class="form-control" />
          </div>

          <div class="row ">
            <div class="mb-3 col-md-4 ">
              <label for="price" class="form-label">Price</label>
              <input id="price" class="form-control" name="listing[price]" type="number" />
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input id="country" class="form-control" name="listing[country]" type="text" />
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input id="location" class="form-control" name="listing[location]" type="text" />
          </div>

          <button class="btn add-btn btn-dark mt-2 mb-5 mt-md-0 mb-md-0"> Add</button>

        </form>
      </div>
    </div>
  </body>